#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
        behaviors{
                td0: tap_dance_mod_tap{
                        compatible = "zmk,behavior-tap-dance";
                        label = "TAP_DANCE_MOD_TAP";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&mt LSHIFT CAPSLOCK>, <&kp LCTRL>, <&caps_word>;
                };
        };

        combos{
                compatible = "zmk,combos";
                soft_off {
                        bindings = <&soft_off>;
                        key-positions = <0 35>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |                    |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |                    |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |  MUTE  |  |        |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | ENT |                    | SPC | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T                   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB   &kp A &kp S &kp D &kp F &kp G                   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp C_MUTE  &none &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp LALT
                  &kp LGUI &mo 1 &kp RET                   &kp SPC &mo 2 &kp LCTRL
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
                lower_layer {
// ------------------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |                    |  6  |  7  |  8  |  9  |  0  |  DEL |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |                    | F6  |  F7 |  F8 |  F9 |  UP |  F12 |
// | SHFT | F1  | F2  | F3  | F4  | F5  |  boot  |  |        | F11  |  F7 | F8  | LFT | DWN |  RGT |
//                    | GUI |     | SPC |                    | ENT |     | ALT |
                        bindings = <
   &kp ESC    &kp N1  &kp N2    &kp N3   &kp N4   &kp N5                           &kp N6   &kp N7   &kp N8 &kp N9    &kp N0   &kp BSPC
   &kp CAPS  &trans  &trans    &trans   &trans   &trans                           &kp F6   &kp F7   &kp F8 &kp F9    &kp UP   &kp F10
   &kp LSHFT  &kp F1  &kp F2    &kp F3   &kp F4   &kp F5   &bt BT_SEL 4  &none &kp F11  &kp F12  &trans     &kp LEFT  &kp DOWN &kp RIGHT
                           &kp LGUI     &trans    &kp RET                &kp SPC  &trans   &kp LCTRL
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                raise_layer {
// ------------------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |                    |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | BTCLR| BT0 | BT1 | BT2 | BT3 | BOOT|                    |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     | PREV| PLAY| NXT |     |     |  boot  |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | MUTE|     | SPC |                    | BRI+|     | BRI-|
                        bindings = <
   &kp  TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                       &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp DEL
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bootloader   &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT  &trans   &trans &kp C_PREV   &kp C_PLAY   &kp C_NEXT &none &bootloader &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE &kp TILDE
                             &kp LCTRL &trans   &kp RET                    &kp C_BRI_INC   &trans    &kp C_BRI_DEC
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
        };
};