#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td0: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MOD_TAP";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LSHIFT CAPSLOCK>, <&kp LCTRL>, <&caps_word>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // System combos

        soft_off {
            bindings = <&soft_off>;
            key-positions = <0 35>;
            layers = <0>;
        };

        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 11>;  // Top left + top right corners
            bindings = <&studio_unlock>;
            layers = <0>;
        };

        // Convenience combos

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;  // Q + W
            bindings = <&kp ESC>;
            layers = <0>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <13 14>;  // A + S
            bindings = <&kp TAB>;
            layers = <0>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <20 21>;  // K + L
            bindings = <&kp RET>;
            layers = <0>;
        };

        combo_del {
            timeout-ms = <50>;
            key-positions = <9 10>;  // O + P
            bindings = <&kp DEL>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  E  |  R  |  T  |                    |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // |  TAB |  A  |  S  |  D  |  F  |  G  |                    |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | TD0* |  Z  |  X  |  C  |  V  |  B  |  MUTE  |  |        |  N  |  M   |  ,  |  .  |  /  | RALT |
            //                    | GUI | LWR | ENT |                    | SPC | RSE  | CTRL|
            // *TD0: Tap=Shift, 2xTap=Ctrl, 3xTap=CapsWord

            bindings = <
&kp ESC  &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y      &kp U  &kp I         &kp O       &kp P      &kp BSPC
&kp TAB  &kp A  &kp S  &kp D         &kp F  &kp G        &kp H      &kp J  &kp K         &kp L       &kp SEMI   &kp SQT
&td0     &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N      &kt M  &kp COMMA     &kp PERIOD  &kp SLASH  &kp RCTRL
                       &kp LEFT_GUI  &mo 1  &kp SPACE    &kt ENTER  &mo 2  &kp LEFT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------
            // |  ESC |  1  |  2  |  3  |  4  |  5  |                    |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | CAPS |  -  |  =  |  [  |  ]  |  \  |                    | F6  |  F7 |  F8 |  F9 |  UP |  F10 |
            // | SHFT | F1  | F2  | F3  | F4  | F5  |        |  |        | F11 | F12 |  `  | LFT | DWN |  RGT |
            //                    | GUI |     | RET |                    | SPC |     | ALT |

            bindings = <
&kp ESC    &kp N1     &kp N2     &kp N3    &kp N4     &kp N5      &kp N6  &kp N7   &kp N8   &kp N9   &kp N0     &kp BSPC
&kp CAPS   &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH    &kp F6  &kp F7   &kp F8   &kp F9   &kp UP     &kp F10
&kp LSHFT  &kp F1     &kp F2     &kp F3    &kp F4     &kp F5      &trans  &none    &kp F11  &kp F12  &kp GRAVE  &kp LEFT
                                 &kp DOWN  &kp RIGHT  &kp LGUI    &trans  &kp RET  &kp SPC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |                    |  ^  |  &  |  *  |  (  |  )  |  DEL |
            // | BTCLR| BT0 | BT1 | BT2 | BT3 | BT4 |                    |  -  |  =  |  {  |  }  |  |  |  `   |
            // | SHFT |     |     | PREV| PLAY| NEXT|  BOOT  |  | BOOT  |  _  |  +  |  [  |  ]  |  \  |  ~   |
            //                    | CTRL|     | RET |                    | BRI+|     | BRI-|

            bindings = <
&kp TAB     &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT       &kp CARET             &kp AMPS     &kp ASTRK             &kp LPAR  &kp RPAR  &kp DEL
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp MINUS             &kp EQUAL    &kp LBRC              &kp RBRC  &kp PIPE  &kp GRAVE
&kp LSHFT   &bootloader   &trans        &kp C_PREV    &kp C_PLAY    &kp C_NEXT      &bootloader           &bootloader  &kp UNDER             &kp PLUS  &kp LBKT  &kp RBKT
                                        &kp BSLH      &kp TILDE     &kp LCTRL       &kp C_BRIGHTNESS_INC  &kp RET      &kp C_BRIGHTNESS_DEC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        // Empty layers for ZMK Studio customization
    };
};
